@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ECF6D3;
}

.select {
    background-color: #CDCECF;
    border-radius: 10px;
    padding: 15px;
}

.spice {
    margin: 5px;
}

.check {
    margin: 10px;
}

.pic {
    height: 250px;
}